html, body
{
  height: 100%;
  margin: 0;
}
body{
  background-image: linear-gradient(to right top, #bd93ec, #a98cec, #a866f3);
}
.login_div
{
	background: rgba(255,255,255,0.8);
	border-radius: 15px;
}
#login_button
{
	width: 80%;
	border-radius: 15px;
}
#logout
{
	font-size: 20px; float: right;
}
.room_name
{
	cursor: pointer;
	font-size: 20px;
}
.header
{
	color: white;
	font-family: 'Yeon Sung';
	font-size: 45px;
	letter-spacing: 10px;
	margin-top: 80px;
}
#output
{
	padding: 10px; width:80%;background: rgba(255,255,255,0.8);border-radius: 15px;
}
.input_div_message_page #msg
{
	width: 40%;
}
.input_div_message_page
{
	position: fixed;
	bottom: 0px;
	width: 100%;
	background: rgba(255,255,255,0.8);
}
#btn{
	width: 80%;
	border-radius: 15px;
	color: rgb(197, 27, 240);
}
.container{
	margin-left: auto;
	margin-right: auto;
	max-width: 60%;
}
#user_name{
	width: 80%;
}